<div class="w-40 h-full mx-2 flex-none border-2 border-red-50 rounded-md drop-shadow-md bg-gray-50" id= <%= index%>>
	<p><%= project.name %></p>
	<p class="whitespace-normal"><%= project.description %></p>
	<%= link_to "more details ...", "/projects/#{project.id}" %>
</div>
