<section id="hero" class="pt-20">
	<h1 class="text-3xl w-60 text-right mx-auto md:text-4xl md:w-1/2">Chipping away at
		<span class="text-red-700">Ruby on Rails</span></h1>
	<h2 class="w-72 text-base text-right mt-14 mx-auto md:text-2xl md:w-2/3 md:text-center">Everyday add a little Ruby knowledge is good
		for you.</h2>
	<h2 class="mt-14 text-base mx-auto w-56 text-center md:text-2xl md:w-1/2">Hello from Sydney, Australia</h2>
	<p class="mt-14 text-base w-72 mx-auto text-justify md:text-2xl md:w-1/2">My Ruby journey started over 1.5 years ago. I
		would like to share some of my experiences in Ruby or Rails.</p>
	<div class="w-32 mx-auto my-10 bg-red-700 text-center p-2 rounded-full text-gray-50">
		<%= link_to "Playground", playground_path %>
	</div>
</section>

<section id="exercises" class=" px-2 bg-blue-100">
	<h2 class="text-lg">Current Rails Exercises</h2>
	<div class="mt-6 h-60 bg-red-100">

	</div>
</section>

<section id="resources">

</section>
