<section id="hero" class="pt-20">
	<h1 class="text-3xl w-60 text-right mx-auto md:text-4xl md:w-1/2">Chipping away at
		<span class="text-red-700">Ruby on Rails</span></h1>
	<h2 class="w-72 text-base text-right mt-14 mx-auto md:text-2xl md:w-2/3 md:text-center">Everyday add a little Ruby knowledge is good
		for you.</h2>
	<h2 class="mt-14 text-base mx-auto w-56 text-center md:text-2xl md:w-1/2">Hello from Sydney, Australia</h2>
	<p class="mt-14 text-base w-72 mx-auto text-justify md:text-2xl md:w-1/2">My Ruby journey started over 1.5 years ago. I
		would like to share some of my experiences in Ruby or Rails.</p>
	<div class="w-32 mx-auto my-10 bg-red-700 text-center p-2 rounded-full text-gray-50">
		<%= link_to "Playground", playground_path %>
	</div>
</section>

<section id="exercises" class="md:mt-14 px-2">
	<h2 class="text-lg md:ml-20 md:text-3xl">Current Rails Exercises</h2>
	<div class="mt-6 h-24 mx-auto w-auto md:h-56 md:w-4/5 bg-red-50">

	</div>
	<div class="text-right mr-2 mt-2 w-auto md:w-4/5 md:mx-auto">
		<%= link_to "more exercises...",playground_path %>
	</div>
	<div class="flex flex-col w-32 ml-5 text-center md:scale-150 md:ml-44 mt-7">
		<svg class="fill-red-50 relative left-8" width="55" height="43" viewBox="0 0 55 43" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.73054 11.6254L17.1857 19.0816C18.0408 19.9368 17.4529 21.38 16.2505 21.38H11.4674C11.4674 30.2259 18.6554 37.415 27.5 37.415C29.611 37.415 31.6685 37.0141 33.5122 36.2391C34.4742 35.8382 35.5697 36.1322 36.2912 36.8537C37.654 38.2167 37.173 40.5151 35.3827 41.2366C32.9511 42.2255 30.279 42.76 27.5 42.76C15.6893 42.76 6.12321 33.1924 6.12321 21.38H1.34015C0.137699 21.38 -0.450153 19.9368 0.404915 19.1084L7.86007 11.6521C8.36777 11.1176 9.22284 11.1176 9.73054 11.6254ZM43.5326 21.38C43.5326 12.534 36.3446 5.345 27.5 5.345C25.389 5.345 23.3315 5.74587 21.4878 6.52089C20.5258 6.92177 19.4303 6.62779 18.7088 5.90622C17.346 4.54325 17.827 2.2449 19.6173 1.52332C22.0489 0.5345 24.721 0 27.5 0C39.3107 0 48.8768 9.56754 48.8768 21.38H53.6599C54.8623 21.38 55.4502 22.8231 54.5951 23.6516L47.1399 31.1079C46.6055 31.6424 45.7772 31.6424 45.2427 31.1079L37.7876 23.6516C36.9592 22.8231 37.5471 21.38 38.7495 21.38H43.5326Z"/>
		</svg>
		<p class=" relative text-sm bottom-7 text-gray-400">Don't stop learning</p>
	</div>
</section>

<section id="resources">

</section>
